
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,700;1,400;1,500&display=swap');
*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


header {
    margin-top: 47px;
    margin-left: 50px;
    text-align: 80px; 
    background: #FAEBD7;

}


.link-menu {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #373535;
    margin-right: 42px;
    cursor: pointer;

}


.button-sign-up {

 background: #3a027a;  
 border: 1px solid #6e38b5; 
 border-radius: 30px;
 width: 75px;
 height: 51px;
 cursor: pointer;
 font-weight: 500;
 font-size: 16px;
 line-height: 24px;
 letter-spacing: 1px;
 color: #ffffff;

}

img {
    margin: 163px 0 0 123px;
    display: inline-block;

}

div {
    display: inline-block;
    margin-left: 85px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
}

.button-learn-more {
   font-weight: 500; 
   font-size: 18px;
   line-height: 27px;
   letter-spacing: 1px;
   color: #6FBF44;
   cursor: pointer;

   
}